.search {
    width: 80%;
    margin-top: 50px;
    height: 70px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-evenly;
}

.search input {
    width: 80%;
    height: 50px;
    background-color: var(--icon);
    border-radius: 6px;
    padding: 10px;   
    font-size: 18px;
}

.search button {
    width: 80px;
    height: 50px;
    border-radius: 6px;
    font-weight: bolder;
    background-color: var(--main);
    color: white;
    cursor: pointer;
}

::placeholder {
    color: var(--main);
    opacity: 1;
}
